# Игнорировать файл с токенами
.env

# Игнорировать файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать Node.js зависимости
node_modules/

# Игнорировать логи и временные файлы
*.log
tmp/
temp/

# Игнорировать IDE‑файлы
.vscode/
.idea/

# Игнорировать сборки
dist/
build/
